<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title></title>

  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='fonts/AvenirLTStd-Roman.woff2') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/AvenirLTStd-Roman.woff') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/AvenirLTStd-Roman.eot') }}">


  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/toastr/toastr.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>

  
  <style>
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.15);
        border-radius: 1rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.33);
    }
</style>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
                class="fas fa-bars"></i></a>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <div class="btn-group">           
              <button type="button" class="btn logged-btn nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{current_user.email}}
              </button>

              <div class="dropdown-content">
                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out"></i> Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Sidebar -->
        <div class="sidebar">
          <div class="logo-upm"></div>
          <div>
            <h3 class="brank-link text-center text-light mt-1 mb-4">DPSM Portal</h3>
            <h3 class="brank-link-alt text-center text-light mt-1 mb-4">Menu</h3>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              {% if current_user.role == "faculty" and current_user.is_unit_head is true %}
              <li class="nav-item">
                <a href="/unit_head/dashboard" class="nav-link d-flex align-items-center">
                  <i class="sidebar-icon dashboard"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>

              <li class="nav-item" data-toggle="collapse" href="#collapseExample">
                <a href="#" class="nav-link d-flex align-items-center">
                  <i class="sidebar-icon basic-information"></i>
                  <p style="display: flex;align-items: center;">
                    Basic Information
                    <i class ="sidebar-icon dropdown"></i>
                  </p>
                </a>
              </li>

              <div class="collapse" id="collapseExample" style="padding-left: 7%;">
                <ul class="nav nav-pills nav-sidebar flex-column"
                  data-widget="treeview" role="menu" data-accordion="false">
                <!-- Basic Information Dropdown -->
                  <li class="nav-item">
                    <a href="/faculty/faculty_landing_page" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon personal-information"></i>
                      <p>
                        Personal Information
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_educational_attainment" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon educational-attainment"></i>
                      <p>
                        Educational Attainment
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_work_experience" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon work-experience"></i>
                      <p>
                        Work Experience
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_accomplishment" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon accomplishments"></i>
                      <p>
                        Accomplishments
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_publication" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon publications"></i>
                      <p>
                        Publication
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_research_grant" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon research-grants"></i>
                      <p>
                        Research Grants
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_licensure" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon licensure-exams"></i>
                      <p>
                        Licensure Exam
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_training" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon trainings-seminars"></i>
                      <p>
                        Trainings/Seminars
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_fsr_set" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon fsr-set"></i>
                      <p>
                        FSR/SET
                      </p>
                    </a>
                  </li>
                </ul>
              </div>

              <li class="nav-item">
                <a href="/unit_head/faculty_list" class="nav-link d-flex align-items-center">
                  <i class="sidebar-icon faculty-list"></i>
                  <p>
                    Faculty List
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/unit_head/pending_approvals" class="nav-link d-flex align-items-center">
                  <i class="sidebar-icon pending-approvals"></i>
                  <p>
                    Pending Approvals
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/unit_head/role_assignment" class="nav-link d-flex align-items-center">
                  <i class="sidebar-icon role-assignment"></i>
                  <p>
                    Role Assignment
                  </p>
                </a>
              </li>

              {% elif current_user.role == "faculty" and current_user.is_dept_head is true %}
              <li class="nav-item">
                <a href="/department_chair/dashboard" class="nav-link d-flex align-items-center">
                  <i class="sidebar-icon dashboard"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>

              <li class="nav-item" data-toggle="collapse" href="#collapseExample">
                <a href="#" class="nav-link d-flex align-items-center">
                  <i class="sidebar-icon basic-information"></i>
                  <p style="display: flex;align-items: center;">
                    Basic Information
                    <i class ="sidebar-icon dropdown"></i>
                  </p>
                </a>
              </li>

              <div class="collapse" id="collapseExample" style="padding-left: 7%;">
                <ul class="nav nav-pills nav-sidebar flex-column"
                  data-widget="treeview" role="menu" data-accordion="false">
                <!-- Basic Information Dropdown -->
                  <li class="nav-item">
                    <a href="/faculty/faculty_landing_page" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon personal-information"></i>
                      <p>
                        Personal Information
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_educational_attainment" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon educational-attainment"></i>
                      <p>
                        Educational Attainment
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_work_experience" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon work-experience"></i>
                      <p>
                        Work Experience
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_accomplishment" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon accomplishments"></i>
                      <p>
                        Accomplishments
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_publication" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon publications"></i>
                      <p>
                        Publication
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_research_grant" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon research-grants"></i>
                      <p>
                        Research Grants
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_licensure" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon licensure-exams"></i>
                      <p>
                        Licensure Exam
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_training" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon trainings-seminars"></i>
                      <p>
                        Trainings/Seminars
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_fsr_set" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon fsr-set"></i>
                      <p>
                        FSR/SET
                      </p>
                    </a>
                  </li>
                </ul>
              </div>

              <li class="nav-item">
                <a href="/department_chair/faculty_list" class="nav-link d-flex align-items-center">
                  <i class="sidebar-icon faculty-list"></i>
                  <p>
                    Faculty List
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/department_chair/pending_approvals" class="nav-link d-flex align-items-center">
                  <i class="sidebar-icon pending-approvals"></i>
                  <p>
                    Pending Approvals
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/department_chair/role_assignment" class="nav-link d-flex align-items-center">
                  <i class="sidebar-icon role-assignment"></i>
                  <p>
                    Role Assignment
                  </p>
                </a>
              </li>

              {% elif current_user.role == "clerk" %}
              <li class="nav-item">
                <a href="/clerk/faculty_list" class="nav-link">
                  <p>
                    Faculty List
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/clerk/create_faculty_account" class="nav-link">
                  <p>
                    Create Faculty Account
                  </p>
                </a>
              </li>

              {% elif current_user.role == "faculty" %}
              <li class="nav-item" data-toggle="collapse" href="#collapseExample">
                <a href="#" class="nav-link d-flex align-items-center">
                  <i class ="sidebar-icon basic-information"></i>
                  <p style="display: flex;align-items: center;">
                    Basic Information
                    <i class ="sidebar-icon dropdown"></i>
                  </p>
                  
                </a>
              </li>

              <div class="collapse" id="collapseExample" style="padding-left: 7%;">
                <ul class="nav nav-pills nav-sidebar flex-column"
                  data-widget="treeview" role="menu" data-accordion="false">
                <!-- Basic Information Dropdown -->
                  <li class="nav-item">
                    <a href="/faculty/faculty_landing_page" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon personal-information"></i>
                      <p>
                        Personal Information
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_educational_attainment" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon educational-attainment"></i>
                      <p>
                        Educational Attainment
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_work_experience" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon work-experience"></i>
                      <p>
                        Work Experience
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_accomplishment" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon accomplishments"></i>
                      <p>
                        Accomplishments
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_publication" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon publications"></i>
                      <p>
                        Publication
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_research_grant" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon research-grants"></i>
                      <p>
                        Research Grants
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_licensure" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon licensure-exams"></i>
                      <p>
                        Licensure Exam
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_training" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon trainings-seminars"></i>
                      <p>
                        Trainings/Seminars
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/faculty/add_fsr_set" class="nav-link d-flex align-items-center">
                      <i class="sidebar-icon fsr-set"></i>
                      <p>
                        FSR/SET
                      </p>
                    </a>
                  </li>
                </ul>
              </div>
              {% endif %}
              
            </ul>
          </nav>
        </div>
      </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">

        <!-- Faculty -->
        {% block view_info %} {% endblock %}
        
        {% block landing %} {% endblock %}
        {% block add_educational %} {% endblock %}

        <!-- Unit Head -->
        {% block add_info %} {% endblock %}
        {% block unit_head_faculty_list %} {% endblock %}
        {% block unit_head_pending_approvals %} {% endblock %}
        {% block unit_head_role_assignment %} {% endblock %}
        {% block unit_head_dashboard %} {% endblock %}

        <!-- Dept Chair -->
        {% block department_chair_dashboard %} {% endblock %}
        {% block department_chair_faculty_list %} {% endblock %}
        {% block department_chair_pending_approvals %} {% endblock %}
        {% block department_chair_role_assignment %} {% endblock %}

        <!-- Clerk -->
        {% block create_faculty_account %} {% endblock %}
        {% block faculty_list %} {% endblock %}
        {% block faculty_service_record %} {% endblock %}
        </div>
      </section>
    </div>
  </div>

 


   <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.formset.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/toastr/toastr.min.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
   
   <script src="{{ url_for('static', filename='js/demo.js') }}"></script>

<!-- <script type='text/javascript'>

(function (global, factory) {
typeof exports === 'object' && typeof module !== 'undefined' ? factory(exports) :
typeof define === 'function' && define.amd ? define(['exports'], factory) :
(global = global || self, factory(global.adminlte = {}));
}(this, (function (exports) { 'use strict';


  var Treeview = function ($) {
    /**
     * Constants
     * ====================================================
     */
    var NAME = 'Treeview';
    var DATA_KEY = 'lte.treeview';
    var EVENT_KEY = "." + DATA_KEY;
    var JQUERY_NO_CONFLICT = $.fn[NAME];
    var Event = {
      SELECTED: "selected" + EVENT_KEY,
      EXPANDED: "expanded" + EVENT_KEY,
      COLLAPSED: "collapsed" + EVENT_KEY,
      LOAD_DATA_API: "load" + EVENT_KEY
    };
    var Selector = {
      LI: '.nav-item',
      LINK: '.nav-link',
      TREEVIEW_MENU: '.nav-treeview',
      OPEN: '.menu-open',
      DATA_WIDGET: '[data-widget="treeview"]'
    };
    var ClassName = {
      LI: 'nav-item',
      LINK: 'nav-link',
      TREEVIEW_MENU: 'nav-treeview',
      OPEN: 'menu-open',
      SIDEBAR_COLLAPSED: 'sidebar-collapse'
    };
    var Default = {
      trigger: Selector.DATA_WIDGET + " " + Selector.LINK,
      animationSpeed: 300,
      accordion: true,
      expandSidebar: false,
      sidebarButtonSelector: '[data-widget="pushmenu"]'
    };
    /**
     * Class Definition
     * ====================================================
     */

    var Treeview = /*#__PURE__*/function () {
      function Treeview(element, config) {
        this._config = config;
        this._element = element;
      } // Public


      var _proto = Treeview.prototype;

      _proto.init = function init() {
        this._setupListeners();
      };

      _proto.expand = function expand(treeviewMenu, parentLi) {
        var _this = this;

        var expandedEvent = $.Event(Event.EXPANDED);

        if (this._config.accordion) {
          var openMenuLi = parentLi.siblings(Selector.OPEN).first();
          var openTreeview = openMenuLi.find(Selector.TREEVIEW_MENU).first();
          this.collapse(openTreeview, openMenuLi);
        }

        treeviewMenu.stop().slideDown(this._config.animationSpeed, function () {
          parentLi.addClass(ClassName.OPEN);
          $(_this._element).trigger(expandedEvent);
        });

        if (this._config.expandSidebar) {
          this._expandSidebar();
        }
      };

      _proto.collapse = function collapse(treeviewMenu, parentLi) {
        var _this2 = this;

        var collapsedEvent = $.Event(Event.COLLAPSED);
        treeviewMenu.stop().slideUp(this._config.animationSpeed, function () {
          parentLi.removeClass(ClassName.OPEN);
          $(_this2._element).trigger(collapsedEvent);
          treeviewMenu.find(Selector.OPEN + " > " + Selector.TREEVIEW_MENU).slideUp();
          treeviewMenu.find(Selector.OPEN).removeClass(ClassName.OPEN);
        });
      };

      _proto.toggle = function toggle(event) {
        var $relativeTarget = $(event.currentTarget);
        var $parent = $relativeTarget.parent();
        var treeviewMenu = $parent.find('> ' + Selector.TREEVIEW_MENU);

        if (!treeviewMenu.is(Selector.TREEVIEW_MENU)) {
          if (!$parent.is(Selector.LI)) {
            treeviewMenu = $parent.parent().find('> ' + Selector.TREEVIEW_MENU);
          }

          if (!treeviewMenu.is(Selector.TREEVIEW_MENU)) {
            return;
          }
        }

        event.preventDefault();
        var parentLi = $relativeTarget.parents(Selector.LI).first();
        var isOpen = parentLi.hasClass(ClassName.OPEN);

        if (isOpen) {
          this.collapse($(treeviewMenu), parentLi);
        } else {
          this.expand($(treeviewMenu), parentLi);
        }
      } // Private
      ;

      _proto._setupListeners = function _setupListeners() {
        var _this3 = this;

        $(document).on('click', this._config.trigger, function (event) {
          _this3.toggle(event);
        });
      };

      _proto._expandSidebar = function _expandSidebar() {
        if ($('body').hasClass(ClassName.SIDEBAR_COLLAPSED)) {
          $(this._config.sidebarButtonSelector).PushMenu('expand');
        }
      } // Static
      ;

      Treeview._jQueryInterface = function _jQueryInterface(config) {
        return this.each(function () {
          var data = $(this).data(DATA_KEY);

          var _options = $.extend({}, Default, $(this).data());

          if (!data) {
            data = new Treeview($(this), _options);
            $(this).data(DATA_KEY, data);
          }

          if (config === 'init') {
            data[config]();
          }
        });
      };

      return Treeview;
    }();
    /**
     * Data API
     * ====================================================
     */


    $(window).on(Event.LOAD_DATA_API, function () {
      $(Selector.DATA_WIDGET).each(function () {
        Treeview._jQueryInterface.call($(this), 'init');
      });
    });
    /**
     * jQuery API
     * ====================================================
     */

    $.fn[NAME] = Treeview._jQueryInterface;
    $.fn[NAME].Constructor = Treeview;

    $.fn[NAME].noConflict = function () {
      $.fn[NAME] = JQUERY_NO_CONFLICT;
      return Treeview._jQueryInterface;
    };

    return Treeview;
  }(jQuery);

})));


</script> -->

<script src="{{ url_for('static', filename='js/adminlte.js') }}"></script>
</body>

</html>
