{% extends "layout.html" %} {% block add_info %}
<head>
    <title>Add Info</title>
</head>
    <section>
        <h1>Personal Information</h1>
        <form class="add-info-form" id="add-info-form">
            <div class="row">
                <div class="col-12">
                    <h6 class="info-subhead mt-1">Basic Information</h6>
                    <div class="col col-12 container">
                        <div class="row">
                            <div class="col-12 col-lg-3 custom-col-3 mb-3">
                                <label class="col-form-label">First Name<span class="required-field"> *</span></label>
                                <input type="text" id="first_n" name="first_n">
                                <span class = "validation-status"></span>
                            </div>
                            <div class="col-12 col-lg-3 custom-col-3 mb-3">
                                <label class="col-form-label">Middle Name</label>
                                <input type="text" id="middle_n" name="middle_n">
                                <span class = "validation-status"></span>
                            </div>
                            <div class="col-12 col-lg-3 custom-col-3 mb-3">
                                <label class="col-form-label">Last Name<span class="required-field"> *</span></label>
                                <input type="text" id="last_n" name="last_n">
                                <span class = "validation-status"></span>
                            </div>
                            <div class="col-12 col-lg-1 custom-col-1 mb-3">
                                <label class="col-form-label">Suffix</label>
                                <select class="suffix-select form-select form-control suffix" aria-label="" id="suffix" name="suffix" data-field="suffix">
                                    <option selected value="">N/A</option>
                                    <option value="SR">Sr.</option>
                                    <option value="JR">Jr.</option>
                                    <option value="I">I</option>
                                    <option value="II">II</option>
                                    <option value="III">III</option>
                                    <option value="IV">IV</option>
                                    <option value="V">V</option>
                                    <option value="VI">VI</option>
                                    <option value="VII">VII</option>
                                    <option value="VIII">VIII</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        </form>
        
        <span>add info toh Hello faculty</span>
    </section>

{% endblock %}