{% extends "layout.html" %} {% block add_info %}
<head>
    <title>Add Info</title>
</head>
    <section>
        <h1>Publication</h1>
        <form class="add-info-form" id="add-info-form">
            <div class="row">
                <div class="col-12">
                    <div class="col col-12 container">
                        <div class="row">
                            <div class="col-12 custom-col-3 mb-3">
                                <label class="col-form-label">Publication Name<span class="required-field"></span></label>
                                <input class="form-control" type="text" id="publication" name="publication">
                                <span class = "validation-status"></span>
                            </div> 
 
                        </div>

                        <div class="row">
                            <div class="col-12 custom-col-3 mb-3">
                                <label class="col-form-label">Citation<span class="required-field"></span></label>
                                <input class="form-control" type="text" id="citation" name="citation">
                                <span class = "validation-status"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">URL<span class="required-field"></span></label>
                                <input class="form-control" type="text" id="url" name="url">
                                <span class = "validation-status"></span>
                            </div>

                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Date Published<span class="required-field"></span></label>
                                <input class="form-control" type="date" id="date_published" name="date_published">
                                <span class = "validation-status"></span>
                            </div>    
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Co-authors (DPSM Faculty)<span class="required-field"></span></label>
                                <select class="coauthors_dpsm-select form-select form-control coauthors_dpsm" aria-label="" id="coauthors_dpsm" name="coauthors_dpsm" data-field="coauthors_dpsm">
                                    <option selected value="">N/A</option>
                                    <option value="SR">Sr.</option>
                                    <option value="JR">Jr.</option>
                                    <option value="I">I</option>
                                    <option value="II">II</option>
                                    <option value="III">III</option>
                                    <option value="IV">IV</option>
                                    <option value="V">V</option>
                                    <option value="VI">VI</option>
                                    <option value="VII">VII</option>
                                    <option value="VIII">VIII</option>
                                </select>
                            </div> 
                            
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Co-authors (non-DPSM Faculty)<span class="required-field"></span></label>
                                <input class="form-control" type="text" id="coauthors_nondpsm" name="coauthors_nondpsm">
                                <span class = "validation-status"></span>
                            </div> 
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-3 custom-col-3 mb-3">
                                <label class="col-form-label">Upload File as Proof<span class="required-field"></span></label>
                                <input type="file" id="publication_file" name="publication_file">
                                <span class = "validation-status"></span>
                            </div>    
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 custom-col-3 mb-3">
                <button class="btn btn-primary crud-btn" type="submit">Submit</button> 
                <button class="btn btn-reset crud-btn" type="reset">Reset</button> 
            </div>

        </form>
    
    </section>

{% endblock %}