{% extends "layout.html" %} {% block add_info %}
<head>
    <title>Add Info</title>
</head>
    <section>
        <h1>Research Grants</h1>
        <form class="add-info-form" id="add-info-form">
            <div class="row">
                <div class="col-12">
                    <div class="col col-12 container">
                        <div class="row">
                            <div class="col-12 custom-col-3 mb-3">
                                <label class="col-form-label">Name of Research Project<span class="required-field"></span></label>
                                <input class="form-control" type="text" id="name_research" name="name_research">
                                <span class = "validation-status"></span>
                            </div>  
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Sponsor<span class="required-field"></span></label>
                                <input class="form-control" type="text" id="sponsor" name="sponsor">
                                <span class = "validation-status"></span>
                            </div> 
                            
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Amount Granted<span class="required-field"></span></label>
                                <input class="form-control" type="text" id="amount_granted" name="amount_granted">
                                <span class = "validation-status"></span>
                            </div> 
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Projected Start Date<span class="required-field"></span></label>
                                <input class="form-control" type="date" id="projected_start" name="projected_start">
                                <span class = "validation-status"></span>
                            </div>   
                            
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Projected End Date<span class="required-field"></span></label>
                                <input class="form-control" type="date" id="projected_end" name="projected_end">
                                <span class = "validation-status"></span>
                            </div>  
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Actual Start Date<span class="required-field"></span></label>
                                <input class="form-control" type="date" id="actual_start" name="actual_start">
                                <span class = "validation-status"></span>
                            </div>   
                            
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Actual End Date<span class="required-field"></span></label>
                                <input class="form-control" type="date" id="actual_end" name="actual_end">
                                <span class = "validation-status"></span>
                            </div>  
                        </div>

                        <div class="row">
                            <div class="col-12 custom-col-3 mb-3">
                                <label class="col-form-label">Research Progress<span class="required-field"></span></label>
                                <textarea class="form-control" id="research_progress" name="research_progress" rows="4" cols="50"></textarea>
                                <span class = "validation-status"></span>
                            </div>   
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Co-researchers (DPSM Faculty)<span class="required-field"></span></label>
                                <select class="coresearchers_dpsm-select form-select form-control coresearchers_dpsm" aria-label="" id="coresearchers_dpsm" name="coresearchers_dpsm" data-field="coresearchers_dpsm">
                                    <option selected value="">N/A</option>
                                    <option value="SR">Sr.</option>
                                    <option value="JR">Jr.</option>
                                    <option value="I">I</option>
                                    <option value="II">II</option>
                                    <option value="III">III</option>
                                    <option value="IV">IV</option>
                                    <option value="V">V</option>
                                    <option value="VI">VI</option>
                                    <option value="VII">VII</option>
                                    <option value="VIII">VIII</option>
                                </select>
                            </div> 
                            
                            <div class="col-12 col-lg-6 custom-col-3 mb-3">
                                <label class="col-form-label">Co-researchers (non-DPSM Faculty)<span class="required-field"></span></label>
                                <input class="form-control" type="text" id="amount_granted" name="amount_granted">
                                <span class = "validation-status"></span>
                            </div> 
                        </div>


                        <div class="row">
                            <div class="col-12 col-lg-3 custom-col-3 mb-3">
                                <label class="col-form-label">Upload File as Proof<span class="required-field"></span></label>
                                <input type="file" id="accomplishment_file" name="accomplishment_file">
                                <span class = "validation-status"></span>
                            </div>    
                        </div>

                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-start mt-2">
                <button class="btn btn-primary crud-bin" type="'submit">Save</button> 
            </div>

        </form>
    
    </section>

{% endblock %}