{% extends "department_chair_layout.html" %} {% block department_chair_pending_approvals %}

<head>
    <title>Department Chair - Pending Approvals</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<style type="text/css">
.arrow {
  border: solid #7b1113;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right:  40px;
  top:  260px;
  
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


</style>

<section>

<div class="card-columns" id = "accordion">
  

  <div class="card">
    <img src="https://www.solidbackgrounds.com/images/1920x1080/1920x1080-up-maroon-solid-color-background.jpg" class="card-img-top" alt="...">
    <div class="card-header text-center" style = "font-weight:bold; ">Chemistry Unit</div>
    <div class="card-body text-center" >
        Chem Head
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style = "color:#7b1113;"> <i class="arrow down"></i> </button>        

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body" data-toggle="modal" data-target="#exampleModal" >
            {% for cu_faculty in cu_list %}
            <div class="card-body text-center" data-toggle="modal" data-target="#exampleModal">
                {{ cu_faculty['last_name'] }}, {{ cu_faculty['first_name'] }}
            </div>
            {% endfor %}

        </div>
       </div>      
    </div>
</div>


<div class="card">
    <img src="https://www.solidbackgrounds.com/images/2560x1440/2560x1440-up-forest-green-solid-color-background.jpg" class="card-img-top" alt="...">
    <div class="card-header text-center" style = "font-weight:bold; ">Math and Computing Sciences Unit</div>
    <div class="card-body text-center">
        Gonzales, Ken Joffaniel
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style = "color:#7b1113; "> <i class="arrow down"></i>
        </button>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body" data-toggle="modal" data-target="#exampleModal2" >
            {% for mcsu_faculty in mcsu_list %}
            <div class="card-body text-center" data-toggle="modal" data-target="#exampleModal">
                {{ mcsu_faculty['last_name'] }}, {{ mcsu_faculty['first_name'] }}
            </div>
            {% endfor %}

      </div>
    </div>

      
    </div>

</div>


<div class="card">
    <img src="https://www.solidbackgrounds.com/images/1920x1080/1920x1080-up-maroon-solid-color-background.jpg" class="card-img-top" alt="...">
    <div class="card-header text-center" style = "font-weight:bold;">Physics and Geology Unit</div>
    <div class="card-body text-center">
        Bagunu, Ramon Jose C.
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" style = "color:#7b1113;"> <i class="arrow down"></i>
        </button>


      <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body" data-toggle="modal" data-target="#exampleModal3" >
            {% for pgu_faculty in pgu_list %}
            <div class="card-body text-center" data-toggle="modal" data-target="#exampleModal">
                {{ pgu_faculty['last_name'] }}, {{ pgu_faculty['first_name'] }}
            </div>
            {% endfor %}


      </div>
    </div>

      
    </div>

</div>


</div>


<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Richard Bryann Chua</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 100px); overflow-y: auto;">
                    <div id="accordion">
                        <div class="card">
                            <div id="headingOne">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="width: 100%; font-size: 0.8em;">
                                        <span class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;">
                                            3
                                        </span>
                                        Personal Information
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    {% block department_chair_personal_information %} 
                                    {% endblock %}  
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingTwo">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="width: 100%; font-size: 0.8em;">Educational Attainment</button>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    {% block department_chair_educational_attainment %} 
                                    {% endblock %} 
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div> 
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingThree">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="width: 100%; font-size: 0.8em;">Work Experience</button>
                                </h5>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    {% block department_chair_work_experience %} 
                                    {% endblock %} 
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingFour">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="width: 100%; font-size: 0.8em;">Accomplishments</button>
                                </h5>
                            </div>

                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    {% block department_chair_accomplishments %} 
                                    {% endblock %} 
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingFive">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="width: 100%; font-size: 0.8em;">Publications</button>
                                </h5>
                            </div>

                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    {% block department_chair_publications %} 
                                    {% endblock %} 
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingSix">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="width: 100%; font-size: 0.8em;">Research Grants</button>
                                </h5>
                            </div>

                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body">
                                    {% block department_chair_research_grants %} 
                                    {% endblock %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingSeven">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="width: 100%; font-size: 0.8em;">Licensure Exam</button>
                                </h5>
                            </div>

                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                <div class="card-body">
                                    {% block department_chair_licensure_exams %} 
                                    {% endblock %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingEight">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" style="width: 100%; font-size: 0.8em;">Trainings/Seminars</button>
                                </h5>
                            </div>

                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                <div class="card-body">
                                    {% block department_chair_trainings_seminars %} 
                                    {% endblock %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-sm_reject" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#7B1113; color: #ffffff;">
                    Reject faculty change
                </div>
                <div class="modal-body">
                    Are you sure you want to reject this change?
                    <br>
                    Reason/Remarks for rejection
                    <input type="text" name="reject" id="reject" style="width: 100%;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="color: #ffffff; background-color: #014421; font-size: 0.7vw;">Yes, reject</button>
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113; font-size: 0.7vw;">No, don't reject</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-sm_approve" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal_approve">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#7B1113; color: #ffffff;">
                    Approve faculty change
                </div>
                <div class="modal-body">
                    Are you sure you want to approve this change?
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="color: #ffffff; background-color: #014421; font-size: 0.7vw;">Yes, approve</button>
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113; font-size: 0.7vw">No, don't approve</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
      
