{% extends "layout.html" %} {% block faculty_service_record %}

<h5>{{faculty_name}}</h5>

{% for sy, fsr_record in fsr_dict.items() %}
    {% set outer_loop = loop %}
    <h4 class="header header{{outer_loop.index}}" onclick='header_click("{{outer_loop.index}}")'>A.Y. {{sy}}</h4>
        <table id="fsr_table{{outer_loop.index}}" style="display:none;">
            <tr>
                <th class="sortable">Course Code</th>
                <th>Section</th>
                <th class="sortable">Semester</th>
                <th>Schedule</th>
                <th>No. of Students</th>
                <!--<th>Syllabus</th>-->
                <th>SET Score</th>
                <!--<th>SET Proof</th>-->
                <th>Action</th>
            </tr>
            {% for record in fsr_record %}
                <tr id="row{{outer_loop.index}}_{{loop.index}}">
                <td id="course_code_row{{outer_loop.index}}_{{loop.index}}">{{record['course_code']}}</td>
                <td id="section_row{{outer_loop.index}}_{{loop.index}}">{{record['section']}}</td>
                <td id="semester_row{{outer_loop.index}}_{{loop.index}}">{{record['semester']}}</td>
                <td id="schedule_row{{outer_loop.index}}_{{loop.index}}">{{record['schedule']}}</td>
                <td id="number_of_students_row{{outer_loop.index}}_{{loop.index}}">{{record['number_students']}}</td>
                <!--<td id="syllabus_row{{outer_loop.index}}_{{loop.index}}">
                    <a data-gallery="photoviewer" data-title="Image" data-group="a" id='view_syllabus_img' name='view_syllabus_img' hidden></a>
                    <button type="button" class="btn btn-secondary crud-btn" id="view_syllabus" onclick="show_syllabus(
                        '{{record['id']}}',
                        '{{sy}}',
                        '{{record['semester']}}',
                        '{{record['section']}}',
                        '{{record['syllabus_f_ext']}}'
                    )">
                        View Syllabus
                    </button>
                </td>-->
                <!--<td id="syllabus_row{{outer_loop.index}}_{{loop.index}}">{{record['syllabus']}}</td>-->
                <td id="set_score{{outer_loop.index}}_{{loop.index}}">{{record['set_score']}}</td>
                <!--<td id="set_row{{outer_loop.index}}_{{loop.index}}">
                    <a data-gallery="photoviewer" data-title="Image" data-group="a" id='view_syllabus_img' name='view_syllabus_img' hidden></a>
                    <button type="button" class="btn btn-secondary crud-btn" id="view_set" name="view_set" onclick="show_set_proof(
                        '{{record['id']}}',
                        '{{sy}}',
                        '{{record['semester']}}',
                        '{{record['section']}}',
                        '{{record['syllabus_f_ext']}}'
                    )">
                        View SET Proof
                    </button>
                </td>-->
                <td id="action_button_row{{outer_loop.index}}_{{loop.index}}">
                    <button class="btn btn-primary crud-btn" id="edit_button{{outer_loop.index}}_{{loop.index}}" style="margin-right: 20px;" onclick="edit_row('{{outer_loop.index}}_{{loop.index}}')">Edit</button>
                    <button class="btn btn-primary crud-btn" id="save_button{{outer_loop.index}}_{{loop.index}}" style="margin-right: 20px; display:none;" onclick="save_row('{{outer_loop.index}}_{{loop.index}}', {{record['id']}})">Save</button>
                </td>
            {% endfor %}
            </tr>
        </table>
    <br>
{% endfor %}
<div class="col-12">
    <hr>
    <h5>Add Faculty Load</h5>
    <form id='add_fsr' name='add_fsr' method='POST'></form>
    <div class="col col-12 container">
        <div class="row">
            <div class="col-12 col-lg-2 custom-col-1 mb-3">
                <input class="form-control" type="text"  id="new_course_code" name="new_course_code" placeholder="Course Code"  form='add_fsr'>
            </div>
            <div class="col-12 col-lg-1 custom-col-1 mb-3">
                <input class="form-control" type="text" id="new_section" name="new_section" placeholder="Section" form='add_fsr'>
                <input class="form-control" type="text" id="user_id" name="user_id" placeholder="Section" value='{{user_id}}' form='add_fsr' hidden>
            </div>
            <div class="col-12 col-lg-2 custom-col-1 mb-3">
                <select class="form-control semester" id="new_semester" name="new_semester"  form='add_fsr'>
                    <option selected value="">Semester</option>
                    <option value="1st Semester">1st Semester</option>
                    <option value="2nd Semester">2nd Semester</option>
                    <option value="Mid Year">Mid Year</option>
                </select>
            </div>
            <div class="col-12 col-lg-1 custom-col-1 mb-3" style="padding-left: 2px;">
                <input class="form-control" type="text" id="new_schedule" name="new_schedule" placeholder="Schedule"  form='add_fsr'>
            </div>
            <div class="col-12 col-lg-2 custom-col-1 mb-3">
                <input class="form-control" type="text"  id="new_number_students" name="new_number_students" placeholder="No. of Students"  form='add_fsr'>
            </div>
            <div class="col-12 col-lg-2 custom-col-1 mb-3">
                <select class="sy-select form-select form-control sy" aria-label="" id="new_sy" name="new_sy" data-field="sy" form='add_fsr'>
                    <option selected value="">Academic Year</option>
                    <option value="2010 - 2011">2010 - 2011</option>
                    <option value="2011 - 2012">2011 - 2012</option>
                    <option value="2012 - 2013">2012 - 2013</option>
                    <option value="2013 - 2014">2013 - 2014</option>
                    <option value="2014 - 2015">2014 - 2015</option>
                    <option value="2015 - 2016">2015 - 2016</option>
                    <option value="2016 - 2017">2016 - 2017</option>
                    <option value="2017 - 2018">2017 - 2018</option>
                    <option value="2018 - 2019">2018 - 2019</option>
                    <option value="2019 - 2020">2019 - 2020</option>
                    <option value="2020 - 2021">2020 - 2021</option>
                    <option value="2021 - 2022">2021 - 2022</option>
                    <option value="2022 - 2023">2022 - 2023</option>
                    <option value="2023 - 2024">2023 - 2024</option>
                    <option value="2024 - 2025">2024 - 2025</option>
                    <option value="2025 - 2026">2025 - 2026</option>
                    <option value="2026 - 2027">2026 - 2027</option>
                    <option value="2027 - 2028">2027 - 2028</option>
                    <option value="2028 - 2029">2028 - 2029</option>
                    <option value="2029 - 2030">2029 - 2030</option>
                </select>
            </div>
            <!--<div class="col-12 col-lg-2 custom-col-1 mb-3" style="margin-right:12px;">
                <input type="file" id="new_set_proof" name="new_set_proof" form='add_fsr'>
            </div>-->
            <div class="col-12 col-lg-2 custom-col-1 mb-3">
                <input class="form-control" type="text"  id="new_set" name="new_set" placeholder="SET Score"  form='add_fsr'>
            </div>
            <div class="col-12 col-lg-2 custom-col-1 mb-3" style="margin-right:12px;">
                <label class="col-form-label">Syllabus</label>
                <input type="file" id="new_syllabus" name="new_syllabus" form='add_fsr'>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end mt-2 mr-3">
    <button type='submit' class="btn btn-primary crud-btn" onclick="add_row();" form='add_fsr'>Add</button> 
</div>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(odd) {
        background-color: #769888;
    } 

    th.sortable{
        cursor: pointer;
    }

    th.sortable:hover{
        background-color: white;
    }

    .header {
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        margin-bottom: 0px;
        background: #014421;
        color: white;
    }
</style>

<script src="{{ url_for('static', filename='js/ajax_calls.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Core CSS file -->
<link href="{{ url_for('static', filename='css/photoviewer.css') }}" rel="stylesheet">
<!-- Core JS file -->
<script src="{{ url_for('static', filename='js/photoviewer.js') }}"></script>

<script>
    // initialize manually with a list of links
    $('[data-gallery=photoviewer]').click(function (e) {
        e.preventDefault();
        var items = [],
            options = {
            index: $(this).index(),
            };
    
    $('[data-gallery=photoviewer]').each(function () {
        items.push({
        src: $(this).attr('href'),
        title: $(this).attr('data-title')
        });
    });
    new PhotoViewer(items, options);
    });

    function edit_row(no) {
        document.getElementById("edit_button"+no).style.display="none";
        document.getElementById("save_button"+no).style.display="block";
            
        var course_code=document.getElementById("course_code_row"+no);
        var section=document.getElementById("section_row"+no);
        var semester=document.getElementById("semester_row"+no);
        var schedule=document.getElementById("schedule_row"+no);
        var number_of_students=document.getElementById("number_of_students_row"+no);
        // var syllabus=document.getElementById("syllabus_row"+no);
        // var set=document.getElementById("set_row"+no);         
        var set=document.getElementById("set_score"+no);      
        
        var course_code_data=course_code.innerHTML;
        var section_data=section.innerHTML;
        var semester_data=semester.innerHTML;
        var schedule_data=schedule.innerHTML;
        var number_of_students_data=number_of_students.innerHTML;
        // var syllabus_data=syllabus.innerHTML;
        var set_data=set.innerHTML;

        course_code.innerHTML="<input style='width: 80%' type='text' id='course_code_text"+no+"' value='"+course_code_data+"'>";
        section.innerHTML="<input type='text' style='width: 40%' id='section_text"+no+"' value='"+section_data+"'>";
        semester.innerHTML="<select id='semester_text"+no+"' value='"+semester_data+"'>"+
                                "<option value='1st Semester'>1st Semester</option>"+
                                "<option value='2nd Semester'>2nd Semester</option>"+
                                "<option value='Mid Year'>Mid Year</option>";
        schedule.innerHTML="<input style='width: 100%' type='text' id='schedule_text"+no+"' value='"+schedule_data+"'>";
        number_of_students.innerHTML="<input style='width: 20%' type='text' id='number_of_students_text"+no+"' value='"+number_of_students_data+"'>";
        //syllabus.innerHTML="<input style='width: 55%' type='file' id='syllabus_text"+no+"' value='"+syllabus_data+"'>";
        set.innerHTML="<input style='width: 20%' type='text' id='set_text"+no+"' value='"+set_data+"'>";
    }

    function save_row(no, user_id) {
        var course_code_val=document.getElementById("course_code_text"+no).value;
        var section_val=document.getElementById("section_text"+no).value;
        var semester_val=document.getElementById("semester_text"+no).value;
        var schedule_val=document.getElementById("schedule_text"+no).value;
        var number_of_students_val=document.getElementById("number_of_students_text"+no).value;
        // var syllabus_val=document.getElementById("syllabus_text"+no).value;
        var set_val=document.getElementById("set_text"+no).value;
        // var set=document.getElementById("set_text"+no).value;

        document.getElementById("course_code_row"+no).innerHTML=course_code_val;
        document.getElementById("section_row"+no).innerHTML=section_val;
        document.getElementById("semester_row"+no).innerHTML=semester_val;
        document.getElementById("schedule_row"+no).innerHTML=schedule_val;
        document.getElementById("number_of_students_row"+no).innerHTML=number_of_students_val;
        // document.getElementById("syllabus_row"+no).innerHTML=syllabus_val;
        // document.getElementById("set_row"+no).innerHTML=set_val;
        document.getElementById("set_score"+no).innerHTML=set_val;
        
        document.getElementById("edit_button"+no).style.display="block";
        document.getElementById("save_button"+no).style.display="none";
        
        edit_fsr(
            course_code_val,
            section_val,
            semester_val,
            schedule_val,
            number_of_students_val,
            // syllabus_val,
            set_score,
            // set_val,
            user_id
        )
    }

    function add_row() {
        var new_course_code=document.getElementById("new_course_code").value;
        var new_section=document.getElementById("new_section").value;
        var new_semester=document.getElementById("new_semester").value;
        var new_schedule=document.getElementById("new_schedule").value;
        var new_number_students=document.getElementById("new_number_students").value;
        var new_syllabus=document.getElementById("new_syllabus").value;
        var new_set=document.getElementById("new_set").value;
        
        var table=document.getElementById("fsr_table");
        var table_len=(table.rows.length);
        var row = table.insertRow(table_len).outerHTML=
            "<tr id='row"+table_len+"'>"+
            "<td id='course_code_row"+table_len+"'>"+new_course_code+"</td>"+
            "<td id='section_row"+table_len+"'>"+new_section+"</td>"+
            "<td id='semester_row"+table_len+"'>"+new_semester+"</td>"+
            "<td id='schedule_row"+table_len+"'>"+new_schedule+"</td>"+
            "<td id='number_of_students_row"+table_len+"'>"+new_number_students+"</td>"+
            "<td id='syllabus_row"+table_len+"'>"+new_syllabus+"</td>"+
            "<td id='set_row"+table_len+"'>"+new_set+"</td>"+
            "<td id='action_button_row"+table_len+"'>"+
                "<button class='btn btn-primary crud-btn' id='edit_button"+table_len+"' style='margin-right: 20px;' onclick='edit_row("+table_len+")'>Edit</button>"+
                "<button class='btn btn-primary crud-btn' id='save_button"+table_len+"' style='margin-right: 20px; display:none;'' onclick='save_row("+table_len+")'>Save</button></td>"+
            "</tr>";

        document.getElementById("new_course_code").value="";
        document.getElementById("new_section").value="";
        document.getElementById("new_semester").value="";
        document.getElementById("new_schedule").value="";
        document.getElementById("new_number_students").value="";
        document.getElementById("new_syllabus").value="";
        document.getElementById("new_set").value="";
    }

    $('th.sortable').click(function(){
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
    })
    
    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }

    function getCellValue(row, index) { 
        return $(row).children('td').eq(index).text()
    }

    //$(document).ready(function(){
    //    $("h4.header").click(function(){
    //        $("table").toggle();
    //    });
    //});

    function header_click(index){
        curr_table = "#fsr_table" + index
        $(curr_table).toggle();
    }
</script>



{% endblock %}