{% extends "unit_head_layout.html" %} {% block unit_head_pending_approvals %}

<head>
    <title>Unit Head - Pending Approvals</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<section>
    {% if current_user.unit == 'mcsu' %}
    <h1>Mathematical and Computing Sciences Unit</h1>
  {% elif current_user.unit == 'pgu'  %}
    <h1>Physics and Geology Unit</h1>
  {% elif current_user.unit == 'cu'  %}
    <h1>Chemistry Unit</h1>
  {% endif %}

    <br>
    <div class="table-responsive-sm">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
            {% for record in faculty_records %}
              <tr data-toggle="modal" data-target="#modalExample">
                <th scope="row">
                    <span class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;">
                        <center>{{ educ_pending[record.user_id]|length }}</center>
                    </span>&nbsp;{{ record.first_name }} {{ record.last_name }}
                </th>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="modalExample" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span>{{ record.first_name }} {{ record.last_name }}</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 100px); overflow-y: auto;">
                    <div id="accordion">
                        
                        <div class="card">
                            <div id="headingTwo">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="width: 100%; font-size: 0.8em;">
                                        <span class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;">
                                            {{ educ_pending[record.user_id]|length }}
                                        </span>
                                        Educational Attainment
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">

                                <div class="card-body">
                                    {% block unit_head_educational_attainment%}
                                    {% endblock %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div> 
                                    
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div id="headingThree">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="width: 100%; font-size: 0.8em;">
                                        <span class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;">2</span>
                                        Work Experience
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    {% block unit_head_work_experience %} 
                                    {% endblock %} 
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingFour">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="width: 100%; font-size: 0.8em;">
                                        <span class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Accomplishments
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    {% block unit_head_accomplishments %} 
                                    {% endblock %} 
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingFive">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="width: 100%; font-size: 0.8em;">
                                        <span class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Publications
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    {% block unit_head_publications %} 
                                    {% endblock %} 
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingSix">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="width: 100%; font-size: 0.8em;">
                                        <span class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Research Grants
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body">
                                    {% block unit_head_research_grants %} 
                                    {% endblock %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingSeven">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="width: 100%; font-size: 0.8em;">
                                        <span class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Licensure Exam
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                <div class="card-body">
                                    {% block unit_head_licensure_exams %} 
                                    {% endblock %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingEight">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" style="width: 100%; font-size: 0.8em;">
                                        <span class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Trainings/Seminars
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                <div class="card-body">
                                    {% block unit_head_trainings_seminars %} 
                                    {% endblock %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" data-toggle="modal" data-target=".bd-example-modal-sm_approve">Approve</button>
                                        <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" data-toggle="modal" data-target=".bd-example-modal-sm_reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-sm_reject" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#7B1113; color: #ffffff;">
                    Reject faculty change
                </div>
                <div class="modal-body">
                    Are you sure you want to reject this change?
                    <br>
                    Reason/Remarks for rejection
                    <input type="text" name="reject" id="reject" style="width: 100%;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="color: #ffffff; background-color: #014421; font-size: 0.7vw;">Yes, reject</button>
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113; font-size: 0.7vw;">No, don't reject</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-sm_approve" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal_approve">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#7B1113; color: #ffffff;">
                    Approve faculty change
                </div>
                <div class="modal-body">
                    Are you sure you want to approve this change?
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="color: #ffffff; background-color: #014421; font-size: 0.7vw;">Yes, approve</button>
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113; font-size: 0.7vw">No, don't approve</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.change_info:empty').remove();
    </script>
</section>
{% endblock %}