{% extends "layout.html" %} {% block unit_head_pending_approvals %}

<head>
    <title>Unit Head - Pending Approvals</title>


</head>

<section>
    {% if current_user.unit == 'mcsu' %}
    <h1>Mathematical and Computing Sciences Unit</h1>
  {% elif current_user.unit == 'pgu'  %}
    <h1>Physics and Geology Unit</h1>
  {% elif current_user.unit == 'cu'  %}
    <h1>Chemistry Unit</h1>
  {% endif %}

    <br>
    <div class="table-responsive-sm">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
            {% for faculty in faculty_list %}

              <tr data-toggle="modal" 
                  onclick="toggle_pending_modal(
                      '{{ faculty.first_name }}', '{{ faculty.last_name }}', '{{ faculty.user_id}}', 
                      // educational
                      '{{ faculty_educ[faculty.user_id].id }}',
                      '{{ faculty_educ[faculty.user_id].school }}', '{{ faculty_educ[faculty.user_id].degree }}',
                      '{{ faculty_educ[faculty.user_id].degree_type }}', '{{ faculty_educ[faculty.user_id].specialization }}',
                      '{{ faculty_educ[faculty.user_id].start_date }}', '{{ faculty_educ[faculty.user_id].end_date }}',
                      // work
                      '{{ faculty_work[faculty.user_id].id }}',
                      '{{ faculty_work[faculty.user_id].name_employer }}', '{{ faculty_work[faculty.user_id].title }}',
                      '{{ faculty_work[faculty.user_id].work_description }}', '{{ faculty_work[faculty.user_id].work_start_date }}',
                      '{{ faculty_work[faculty.user_id].work_end_date }}',
                      // work
                      '{{ faculty_accomplishments[faculty.user_id].id }}',
                      '{{ faculty_accomplishments[faculty.user_id].position }}', '{{ faculty_accomplishments[faculty.user_id].organization }}',
                      '{{ faculty_accomplishments[faculty.user_id].type_contribution }}', '{{ faculty_accomplishments[faculty.user_id].description }}',
                      // publication
                      '{{ faculty_publications[faculty.user_id].id }}',
                      '{{ faculty_publications[faculty.user_id].publication }}', '{{ faculty_publications[faculty.user_id].citation }}',
                      '{{ faculty_publications[faculty.user_id].url }}', '{{ faculty_publications[faculty.user_id].coauthors_dpsm }}',
                      '{{ faculty_publications[faculty.user_id].coauthors_nondpsm }}',  '{{ faculty_publications[faculty.user_id].date_published }}',
                      // research grant
                      '{{ faculty_research_grants[faculty.user_id].id }}',
                      '{{ faculty_research_grants[faculty.user_id].name_research }}', '{{ faculty_research_grants[faculty.user_id].sponsor }}',
                      '{{ faculty_research_grants[faculty.user_id].amount_granted }}', '{{ faculty_research_grants[faculty.user_id].projected_start }}',
                      '{{ faculty_research_grants[faculty.user_id].projected_end }}', '{{ faculty_research_grants[faculty.user_id].actual_start }}',
                      '{{ faculty_research_grants[faculty.user_id].actual_end }}', '{{ faculty_research_grants[faculty.user_id].research_progress }}',
                      '{{ faculty_research_grants[faculty.user_id].coresearchers_dpsm }}', '{{ faculty_research_grants[faculty.user_id].coresearchers_nondpsm }}',
                      // licensure exam
                      '{{ faculty_licensure_exams[faculty.user_id].id }}',
                      '{{ faculty_licensure_exams[faculty.user_id].name_exam }}', '{{ faculty_licensure_exams[faculty.user_id].rank }}',
                      '{{ faculty_licensure_exams[faculty.user_id].license_number }}', '{{ faculty_licensure_exams[faculty.user_id].date }}',
                      // training/seminar
                      '{{ faculty_trainings[faculty.user_id].id }}',
                      '{{ faculty_trainings[faculty.user_id].name_training }}', '{{ faculty_trainings[faculty.user_id].role }}',
                      '{{ faculty_trainings[faculty.user_id].remarks }}', '{{ faculty_trainings[faculty.user_id].start_date }}',
                      '{{ faculty_trainings[faculty.user_id].end_date }}'
                    )">
                <th scope="row">
                    <span class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;">
                        <center>
                            {{ faculty_record_count[faculty.user_id] }}
                        </center>
                    </span>&nbsp;{{ faculty.first_name }} {{ faculty.last_name }}
                </th>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="pendingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" >
                    <span id="faculty_name"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: calc(100vh - 100px); overflow-y: auto;">
                    <div id="accordion">
                        
                        <div class="card">
                            <div id="headingTwo">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="width: 100%; font-size: 0.8em;">
                                        <span id="educ_count" class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;">   
                                        </span>
                                        Educational Attainment
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">

                                <div class="card-body" id="pendingEduc">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Name of School or Institution</label>
                                                <p id="school"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Degree/Certification</label>
                                                <p id="degree"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Type of Degree</label>
                                                <p id="degree_type"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Major/Specialization</label>
                                                <p id="specialization"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Start Date</label>
                                                <p id="educ_start_date"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">End Date</label>
                                                <p id="educ_end_date"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="acceptEduc" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;">Approve</button>
                                        <button id="rejectEduc" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;">Reject</button>
                                    </div> 
                                </div>
                                <p id="emptyEducMsg" style="text-align: center; padding: 10px;">No pending for this category.</p>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingThree">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="width: 100%; font-size: 0.8em;">
                                        <span id="work_count" class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Work Experience
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body" id="pendingWork">
                                    <!-- {% block unit_head_work_experience %} 
                                    {% endblock %}  -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Name of Employer</label>
                                                <p id="name_employer"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Title/Position</label>
                                                <p id="title"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Description</label>
                                                <p id="work_description"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Start Date</label>
                                                <p id="work_start_date"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">End Date</label>
                                                <p id="work_end_date"></p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="acceptWork" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;">Approve</button>
                                            <button id="rejectWork" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;">Reject</button>
                                        </div>
                                    </div>
                                </div>
                                <p id="emptyWorkMsg" style="text-align: center; padding: 10px;">No pending for this category.</p>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingFour">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="width: 100%; font-size: 0.8em;">
                                        <span id="acc_count" class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Accomplishments
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body" id="pendingAcc">
                                    <!-- {% block unit_head_accomplishments %} 
                                    {% endblock %}  -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Position/Role</label>
                                                <p id="position"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Organization</label>
                                                <p id="organization"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Type of Contribution</label>
                                                <p id="type_contribution"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Description</label>
                                                <p id="acc_description"></p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="acceptAcc" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" >Approve</button>
                                            <button id="rejectAcc" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;" >Reject</button>
                                        </div>
                                    </div>                                   
                                </div>
                                <p id="emptyAccMsg" style="text-align: center; padding: 10px;">No pending for this category.</p>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingFive">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="width: 100%; font-size: 0.8em;">
                                        <span id="pub_count" class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Publications
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body" id="pendingPub">
                                    <!-- {% block unit_head_publications %} 
                                    {% endblock %}  -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Publication Name</label>
                                                <p id="publication"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Citation</label>
                                                <p id="citation"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">URL</label>
                                                <p id="url"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="col-form-label">DPSM Profs</label>
                                                <p id="coauthors_dpsm"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Non-DPSM Profs</label>
                                                <p id="coauthors_nondpsm"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Publication Date</label>
                                                <p id="date_published"></p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="acceptPub" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;" >Approve</button>
                                            <button id="rejectPub" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;">Reject</button>
                                        </div>
                                    </div>
                                </div>
                                <p id="emptyPubMsg" style="text-align: center; padding: 10px;">No pending for this category.</p>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingSix">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="width: 100%; font-size: 0.8em;">
                                        <span id="rg_count" class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Research Grants
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body" id="pendingRG">
                                    <!-- {% block unit_head_research_grants %} 
                                    {% endblock %} -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Name of Research Project</label>
                                                <p id="name_research"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Sponsor</label>
                                                <p id="sponsor"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Amount Granted</label>
                                                <p id="amount_granted"></p>
                                            </div>
                                        </div>

                                        <h6>Projected Start and End Date</h6>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Start Date</label>
                                                <p id="projected_start"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">End Date</label>
                                                <p id="projected_end"></p>
                                            </div>
                                        </div>

                                        <h6>Actual Start and End Date</h6>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Start Date</label>
                                                <p id="actual_start"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">End Date</label>
                                                <p id="actual_end"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Research Progress</label>
                                                <p id="research_progress"></p>
                                            </div>
                                        </div>

                                        <h6>Co-Authors</h6>
                                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="col-form-label">DPSM Profs</label>
                                                <p id="coresearchers_dpsm"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Non-DPSM Profs</label>
                                                <p id="coresearchers_nondpsm"></p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="acceptRG" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;">Approve</button>
                                            <button id="rejectRG" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;">Reject</button>
                                        </div>
                                    </div>                           
                                </div>
                                <p id="emptyRGMsg" style="text-align: center; padding: 10px;">No pending for this category.</p>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingSeven">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="width: 100%; font-size: 0.8em;">
                                        <span id="le_count" class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Licensure Exam
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                <div class="card-body" id="pendingLE">
                                    <!-- {% block unit_head_licensure_exams %} 
                                    {% endblock %} -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Name of Exam</label>
                                                <p id="name_exam"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="col-form-label">Rank</label>
                                                <p id="rank"></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="col-form-label">License Number</label>
                                                <p id="license_number"></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="col-form-label">Date</label>
                                                <p id="date"></p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="acceptLE" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;">Approve</button>
                                            <button id="rejectLE" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;">Reject</button>
                                        </div>
                                    </div>
                                </div>
                                <p id="emptyLEMsg" style="text-align: center; padding: 10px;">No pending for this category.</p>
                            </div>
                        </div>

                        <div class="card">
                            <div id="headingEight">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" style="width: 100%; font-size: 0.8em;">
                                        <span id="ts_count" class="change_info" style="background-color: #7B1113; color: #ffffff; border-radius: 5px; width: 25px; display: inline-block;"></span>
                                        Trainings/Seminars
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                <div class="card-body" id="pendingTS">
                                    <!-- {% block unit_head_trainings_seminars %} 
                                    {% endblock %} -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Name of Training/Seminar</label>
                                                <p id="name_training"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Role</label>
                                                <p id="role"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="col-form-label">Remarks</label>
                                                <p id="remarks"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="col-form-label">Start Date</label>
                                                <p id="ts_start_date"></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="col-form-label">End Date</label>
                                                <p id="ts_end_date"></p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="acceptTS" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421;">Approve</button>
                                            <button id="rejectTS" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113;">Reject</button>
                                        </div>
                                    </div>
                                </div>
                                <p id="emptyTSMsg" style="text-align: center; padding: 10px;">No pending for this category.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-sm_reject" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal_reject">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#7B1113; color: #ffffff;">
                    Reject faculty change
                </div>
                <div class="modal-body">
                    Are you sure you want to reject this change?
                    <p id="rejected_id"></p><p id="rejected_type"></p><p id="rejected_user_id"></p>
                    <br>
                    Reason/Remarks for rejection
                    <input type="text" name="rejected_remarks" id="rejected_remarks" style="width: 100%;">
                </div>
                <div class="modal-footer">
                    <button onclick="unit_head_reject_pending_info()" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421; font-size: 0.7vw;">Yes, reject</button>
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113; font-size: 0.7vw;">No, don't reject</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-sm_approve" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal_approve">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#7B1113; color: #ffffff;">
                    Approve faculty change
                </div>
                <div class="modal-body">
                    Are you sure you want to approve this change?
                    <p id="approved_id"></p><p id="approved_type"></p>
                </div>
                <div class="modal-footer">
                    <button onclick="unit_head_approve_pending_info()" type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #014421; font-size: 0.7vw;">Yes, approve</button>
                    <button type="button" class="btn" data-dismiss="modal" style="color: #ffffff; background-color: #7B1113; font-size: 0.7vw">No, don't approve</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.change_info:empty').remove();
    </script>
</section>
<script src="{{ url_for('static', filename='js/ajax_calls.js') }}"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}