{% extends "unit_head_layout.html" %} {% block unit_head_faculty_list %}
<head>
    <title>Unit Head - Faculty List</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

    <section>
        <h1>Mathematical and Computing Sciences Unit</h1>

        <br>

        <div class="table-responsive-sm">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Rank</th>
                <th scope="col">Classification</th>
                <th scope="col">Tenure</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="clickable" onclick="window.location='#'">
                <th scope="row">Baes, Gregorio</th>
                <td><span id="rank"></span></td>
                <td><span id="classification"></span></td>
                <td><span id="tenure"></span></td>
                <td><span id="status"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
    </section>

{% endblock %}