

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/* Avenir Font */
@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Roman.eot');
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
       url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
       url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palatino Linotype';
  src: url('PalatinoLinotype-Bold.eot');
  src: url('PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'),
      url('PalatinoLinotype-Bold.woff2') format('woff2'),
      url('PalatinoLinotype-Bold.woff') format('woff'),
      url('PalatinoLinotype-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


body {
  background-image: url(../img/oble-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-cas {
  background-image: url(../img/logo-cas.png);
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-upm {
  background-image: url(../img/logo-upm.png);
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1rem;
}

.logo-dpsm {
  background-image: url(../img/logo-dpsm.png);
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-name {
  font-family: 'Palatino Linotype';
  font-size: calc(30px + 7.5vw);
  line-height: 150px;
}

/* main {
  margin-left: 9rem;
  margin-right: 9rem;
} */

@media (max-width: 300px){

}

@media (max-width: 576px){
  .red-box {
    padding: 3rem !important;
    margin: 0rem !important;
  }

  .transparent-box{
    margin: 1rem !important;
  }
  
}

@media (max-width: 768px){
  .project-name {
    line-height: 50px !important;
  }
}

@media (max-width: 992px){

}


@media (max-width: 1200px){
  .logo-group {
    justify-content: center;
    /* text-align: center; */
  }
  .transparent-box {
    text-align: center !important;
  }
}

  

.red-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2rem;
  /* height: 500px;
  width: 75%; */
  background-color: maroon;
  margin: 3rem;
  text-align: center;
  padding: 4rem;
}

.transparent-box {
  border-radius: 2rem;
  margin: 3rem;
  text-align: left;
}

.login-msg {
  color: white;
  /* font-weight: bold; */

  text-align: left;
  font-size: calc(12px + 0.25vw);
}

.google-btn {
  background-image: url(../img/google-btn.png);
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}