

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/* Avenir Font */
@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Roman.eot');
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
       url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
       url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palatino Linotype';
  src: url('PalatinoLinotype-Bold.eot');
  src: url('PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'),
      url('PalatinoLinotype-Bold.woff2') format('woff2'),
      url('PalatinoLinotype-Bold.woff') format('woff'),
      url('PalatinoLinotype-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


body {
  background-image: url(../img/oble-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-cas {
  background-image: url(../img/logo-cas.png);
  height: 124px;
  width: 124px;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-upm {
  background-image: url(../img/logo-upm.png);
  height: 124px;
  width: 124px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1rem;
}

.logo-dpsm {
  background-image: url(../img/logo-dpsm.png);
  height: 175px;
  width: 175px;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-name {
  font-family: 'Palatino Linotype';
  font-size: calc(60px + 7.5vw);
  line-height: 175px;
}

main {
  margin-left: 9rem;
  margin-right: 9rem;
}

@media (max-width: 300px){
  main {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media (max-width: 576px){
  main {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 768px){
  main {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
  

.red-box {
  border-radius: 2rem;
  height: 500px;
  width: 75%;
  background-color: maroon;
  margin: 3rem;
  text-align: center;
}

.login-msg {
  color: white;
  font-weight: bold;
  padding: 5rem;
  text-align: left;
  font-size: 18px;
}

.google-btn {
  background-image: url(../img/google-btn.png);
  width: 300px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}